mat-toolbar{
    background-color:rgb(143, 143, 143) ;
    color: white;
}

mat-sidenav{
margin: 10px;
width: 200px;
border-right: none;
background-color: rgb(73, 73, 73);
color: white;
border-radius: 10px;
padding: 7px;
/* text-align: center; */
}

mat-sidenav-container{
    height: calc(100vh - 65px);
 
}

.content{
    height: calc(100vh - 100px);
    margin: 16px;
    margin-left: 32px;
    padding: 15px;
    overflow: auto;

}



.user{
    padding: 15px;

}
.name{
    text-align: center;
    font-weight: normal;
}
.designation{
 text-align: center;
  margin-top: 2px;
  color: lightgray;
  size: 0.7rem;
}

mat-divider{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(231, 231, 231);
}
button{
    margin-bottom: 5px;
}
ul > li > a:hover{
    background-color: red;
    border-radius: 10px;
    width: 185px;
}