
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>$(document).ready(function(){
        $('ul li').click(function(e) 
    { 
        $("div ul li.active").removeClass("active");
    });
});
</script>

<nav class="navbar navbar-expand-lg " style=" background-color:rgb(143, 143, 143) ; height: 50px;">
  <div class="container-fluid">
   
      <!-- <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="fa-solid fa-bars"></i>
        <fa-icon [icon]="['fas','bars']"></fa-icon>
      </button> -->

      <span style="font-size:25px;cursor:pointer" (click)="openNav()">&#9776; </span>
    
  <span class="navbar-brand" >
    
    <!-- <img src="../../../../assets/images/logo.png" style="width: 80px; height:50px"> -->
  </span>

  <div fxFlex fxLayoutAlign="flex-end center">
       <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
   </div>
  </div>
</nav>

<div id="mySidenav" class="sidenav">
  <div class="navHeader">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
       <h6 class="offcanvas-title" style="text-align: center; margin-bottom: 3px;">{{user_conected}}</h6> 
        <span style="text-align: center; margin-bottom: 10px; font-size: small;">{{fonction}}</span>
  </div>

  <ul class="navbar-nav">
    <li  routerLink="home" routerLinkActive="active" class="nav-item">
      <a class="nav-link active"  style="color:white" data-toggle="tab" role="tab" aria-controls="v-pills-home" id="v-pills-home-tab">
          <fa-icon [icon]="['fas','home']"></fa-icon>&nbsp;
          <span >Home</span>
      </a>
    </li>
    <li  routerLink="/admin/notification-hours" routerLinkActive="active" class="nav-item">
      <a class="nav-link"  style="color:white">
        <fa-icon [icon]="['fas','bell']"></fa-icon>&nbsp;
          <span >Hours Notifications</span>
      </a>
    </li>
    <li  routerLink="/admin/presence" routerLinkActive="active" class="nav-item">
      <a class="nav-link"  style="color:white">
        <fa-icon [icon]="['fas','check']"></fa-icon>&nbsp;
          <span >Presence</span>
      </a>
    </li>
    <li  routerLink="/admin/accounts" routerLinkActive="active" class="nav-item"  *ngIf="role == 'ROLE_ADMIN'">
      <a class="nav-link"  style="color:white">
        <fa-icon [icon]="['fas','file-invoice']"></fa-icon>&nbsp;
          <span >Users Manager</span>
      </a>
    </li>
    <li  routerLink="/admin/groups" routerLinkActive="active" class="nav-item" *ngIf="role == 'ROLE_ADMIN'">
      <a class="nav-link"  style="color:white">
        <fa-icon [icon]="['fas','user-group']"></fa-icon>&nbsp;
          <span >Groups</span>
      </a>
    </li>

    <li routerLinkActive="active" routerLink="/admin/products"  class="nav-item"  *ngIf="role == 'ROLE_ADMIN'">
      <a class="nav-link"  style="color:white">
        <fa-icon [icon]="['fas','box']"></fa-icon>&nbsp;
          <span >Lines & Products</span>
      </a>
    </li>

    <li routerLinkActive="active" routerLink="/admin/users"  class="nav-item"  *ngIf="role == 'ROLE_ADMIN'">
      <a class="nav-link"  style="color:white">
        <fa-icon [icon]="['fas','user']"></fa-icon>&nbsp;
          <span >Users</span>
      </a>
    </li>
 
    <!-- <li mat-button routerLinkActive="active" class="nav-item">
      <a class="nav-link" style="color:white"  (click)="logout()">
          <span >Logout</span>
      </a>
    </li> -->
  </ul>
</div>


  


  <div class="content" id="main">
         <router-outlet></router-outlet>
  </div>
 
