
.main-div{
    padding: 0;
}


input{
    border-top: none;
    border-right: none;
    border-left: none;
    margin-bottom: 25px;
    width: 350px;
}

/* .p-inputtext:enabled:focus{
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: #4D80CA !important;
    box-shadow: 0 0 0 0.02rem green !important;
} */




